<html>
	<head>
		<!-- webpage info -->
		<meta charset="utf-8" />
		<title>Dance Department Video Galleries</title>
		<meta name="author" content="TianTian" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!-- responsive support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<!-- stylesheet -->
		<link rel="stylesheet" type="text/css" href="index.css">

		<!-- JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/plugins/ScrollToPlugin.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
	</div>
		{% if user.is_authenticated %}
		<div id="login" onclick="this.querySelector('form').submit()">
		<form action="{% url 'searchengine:logout' %}" method="post">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <div id="login_btn" >LOGOUT</div>
		</form>
		{% else %}
		<div id="login">
		<div id="login_btn">LOG IN / SIGN UP</div>
		<div id="login_modal">
			<div id="login_modal_content">
				<span id="close_btn">&times;</span>
				<div id="login_form">
					<h2>User Log In</h2>
					{% if profile == 'failed' %}
					<p>Login Failed Please Try Again.</p>
					{% endif %}
					<form action="{% url 'searchengine:login' %}" method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="text" name="username" placeholder="Username"><br>
						<input type="password" name="password" placeholder="Password"><br>
						<input type="submit" value="LOG IN">
					</form>
				</div>
				<div id="or_bar">or</div>
				<div id="signup_form">
					<h2>Guest Sign Up</h2>
					<form action="{% url 'searchengine:register' %}">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="text" name="email" placeholder="Email"><br>
						<input type="password" name="password" placeholder="Password"><br>
						<input type="password" name="re-password" placeholder="Confirm Password"><br>
						<input type="submit" value="SIGN UP">
					</form>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
		<div id="content">
			<div class="slider-control" id="slider-control">
				  <a href="#page1" class="active">
				    <div class="dot"></div>
				  </a>
				  <a href="#page2">
				    <div class="dot"></div>
				  </a>
				  <a href="#page3">
				    <div class="dot"></div>
				  </a>
				  <a href="#page4">
				    <div class="dot"></div>
				  </a>
				  <a href="#page5">
				    <div class="dot"></div>
				  </a>
			</div>
			<div class="section bg-color-white" id="page1">
	    		<div class="hgroup">
	    			<h1>Dance Video Galleries</h1>
	    			<h2>St. Olaf College</h2>
	    		</div>
	    		<div class="nav">
	    			<form action="#">
                    	<div>
                        	<input type="text" placeholder="Search!">
                            <input type="button" value="Search">
                    	</div>
                	</form>
	    		</div>
	    		<div id="bar_1" class="slider-control">
	    			<p><a href="#page2">Explore the project more!</a></p>
	    		</div>
			</div>
			<div class="section introduction bg-color-olaf" id="page2">
				<div class="left-container">
					<!-- <img src="../img/Samba-014-a.jpg"> -->
	    		</div>
	    		<div class="right-container">
	      			<p>During the 2009-2010 academic year, the Dance Department began the multi-year, multi-pronged project of digitizing our video collection for archival purposes. Some of these performances and events are also being uploaded for streamed viewing.</p>
				</div>
			</div>
			<div class="section introduction bg-color-white" id="page3">
				<div class="left-container">
					<p>As of May 2013, more than 850 pieces/events, spanning four decades, have been digitized and are somewhere along their way to being filed, uploaded, linked to a webpage, and/or input to a database for future reference and retrieval.</p>
				</div>
				<div class="right-container">
				</div>
			</div>
			<div class="section introduction bg-color-olaf" id="page4">
				<div class="left-container">
				</div>
				<div class="right-container">
					<p>We hope you enjoy watching St. Olaf College Dance Department performances and events via these online videos.</p>
				</div>
			</div>
			<div class="section bg-color-white" id="page5">
				<div id="bar_2" class="slider-control">
	    			<p><a href="#page1">Start search!</a></p>
	    		</div>
				<div class="article">
					<p>Project Manager: Anthony Roberts, Artist in Residence in Dance</p>
					<p>Project Staff: St. Olaf students, primarily dance majors (thank you, thank you!)</p>
					<p>Project Consultants/Technical Support: Office of Broadcast / Media Services, notably Joshua Wyatt and Jeffrey O’Donnell; Information Technology, notably Dan Beach, Webmaster</p>
					<p></p>
				</div>
			</div>
		</div>
	</body>

	<script>
		//dot effects
		function updateSliderControl(){
			// get all the slider links
			var links = document.querySelectorAll(".slider-control a");

			for(var i = 0; i < links.length; ++i){
				var link = links[i];

				// Get the section pointed to by the link
				var section = $(document.querySelector(link.getAttribute("href")));
				var sectionTop = section.offset().top;
				var sectionBottom = sectionTop + section.height();

				// Check if window.scrollY is between the section.
				if(window.scrollY >= sectionTop && window.scrollY < sectionBottom){
					link.className = "active";
				}
				else{
					link.className = "";
				}
			}
		}
		// Use the onscroll callback to update slider.
		window.onscroll = function(){
			// ...
			updateSliderControl();
		}

		// Update the slider for the first time when the page is loaded.
		window.onload = function(){
			// ...
			updateSliderControl();
		};
	</script>

	<script>
		//scroll animation
		function scrollToElement(element){
			var getSectionElement = $(document.querySelector(element));
			var topOfElement = getSectionElement.offset().top;

			TweenMax.to(window,1,{
			scrollTo:{
				y: topOfElement,
			},

				ease: Power2.easeInOut,
			});
		}

		function addSmoothScrolling(){
			var links = document.querySelectorAll(".slider-control a");

			for(var i = 0; i < links.length; ++i){
				var link = links[i];

				(function (_link){
					link.addEventListener("click",function(event){
						// `event` is the mouse click event
						event.preventDefault();

						// BUG WARNING! Fix with a closure or ES6 `let`.
						var href = _link.getAttribute("href");

						scrollToElement(href);
					});
				})(link);
			}
		}

		window.onload = function() {
			// ...
			addSmoothScrolling();
		};
	</script>

	<script>
		//keyboard and scroll control
		function scrollControl(){
			var links = document.querySelectorAll(".slider-control a");

		}

		var btn = document.getElementById("login_btn");
		var modal = document.getElementById("login_modal");
		var close_btn = document.getElementById("close_btn");

		btn.onclick = function() {
		    modal.style.display = "block";
		};

		close_btn.onclick = function() {
		    modal.style.display = "none";
		};

		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		};

	</script>
</html>