<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{% static "user_tags/js/tag-it.js" %}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="{% static "user_tags/css/jquery.tagit.css" %}" rel="stylesheet" type="text/css">

{% load static %}
{% block videoform %}
    <ul id="id_fieldname">
    </ul>
    <script>
$(document).ready(function(){
    $("#id_fieldname").tagit({
        allowSpaces: true
        {% if forms.fieldname_tags_values %}
        ,availableTags: {{ form.fieldname_tags_values|safe }}
        {% endif %}
        ,caseSensitive: false
    });
});
    <script>
{% endblock %}
