#all{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#titlebar{
	font-family: Serif;
	font-size: 25pt;
	text-align: center;

	color: white;
	background: darkred;
}

.entrytitle{
	font-family: Serif;
	color: darkred;
}

.entrycontents{
	font-family: times;

}

.entry{
	background-color: lightgrey;
	border-bottom: 3px darkred dotted;
}

.entryfooter{
	font-weight: bold;
}