.column{
	float: left;
	font-family: sans-serif;
	margin: 0px 50px;
	width: 400px;

}

.panel{
	overflow: hidden;
}

#main{
	width: 1000px;
	margin: auto;
}

.fourcolumn{
	float: left;
	font-family: sans-serif;
	margin: 0px 20px;
	width: 200px;

}