* {
	font-family: sans-serif;
	line-height: 150%
}

#all {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#photo {
	float: left;
	width: 130px;
	height: 170px;
}

h1 {
	text-align: center;
}

a:hover{
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

#rb {
	color: red;
	font-weight: bold;
}
