h1{
	font-family: serif;
	text-align: center;
}

p{
	font-style: italic;
}

table{
	font-family: sans-serif;
	border-collapse: collapse;
	width:100px;
	height:300px;
}

table, td {
    border: 1px solid black;
}

tr.even {background-color: white;}
tr.odd {background-color: lightgrey;}

th{
	background-color: black;
	color: white;
}

th.border{
	border-left: 1px solid white;
}