th{
	background-color:grey;
	text-align: left;
	color:white;
	font-family: sans-serif;
	border: 1px solid black;
}

table{
	border: 1px solid black;
	margin: 10px;
	width: 400px;
}

td.right{
	text-align: right;
}

#title{
	font-size: 25pt;
	text-align: center;
	font-weight: bold;
	line-height: 200%;
}

.panel{
	overflow: hidden;
}

#main{
	width: 1000px;
	margin: auto;
}

.column{
	float: left;
	font-family: sans-serif;
	margin: 0px 20px;
	width: 400px;
}