#main{
	transform: translate(0,0);
	overflow: hidden;
	

}


.column{
	float: left;
	margin: 20px;
}

#frame{
	overflow: hidden;
	border: 10px grey solid;
	cursor: auto;
	right: 0px;
	left:0px;

}

#buttons{
	vertical-align: middle;
}

#box{
	background-color: red;
	border: thin black solid;
}

#map {
	position: relative;
}
 