.panel{
	overflow: hidden;
}

#main{
	width: 1000px;
	margin: auto;
}

.column{
	float: left;
	font-family: sans-serif;
	margin: 0px 20px;
	width: 400px;
}
h1{
	text-align: center;
}

table{
	border: black 1px solid;
}
th{
	border: black 1px solid;
	text-align: center;
	color: white;
	background: grey;
}

.even {background-color: white;}
.odd {background-color: lightgrey;}