* {
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", 
               "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 
               "SF UI Display", sans-serif;
  font-weight: 300;
}

html, body {
    overflow-x: hidden;
}

body, header, footer,
nav, div, span,
h1, h2, h3, h4, h5, h6,
p, a, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0px solid black;
}

ul, ol, li {
    list-style: none;
}

body {
  margin-top: 90px; 
}

#topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  position: fixed;
  top: 0;
  z-index: 1;

  padding-top: 2px;
  padding-left: 5%;
  padding-right: 5%;

  width: 90%;
  height: 60px;

  box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

#search_bar {
  width: 100%;
  text-align: left;
}

#search_bar input[type=text]{
  font-size: 12pt;
  width: 60%;
  padding: 10px 20px;
  margin: 8px 15px 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#search_bar input[type=search]{
  font-size: 12pt;
  width: 60%;
  padding: 10px 20px;
  margin: 8px 15px 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#search_bar input[type=submit] {
  font-size: 12pt;
  text-align: center;
  max-width: 80px;
  min-width: 80px;
  background-color: #D69523;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search_bar input[type=submit]:hover {
  background-color: #cc8a00;
}

#user_auth_btn {
  width: 100%;
  white-space: nowrap;
  text-align: right;
  color: #D69523;
  padding-bottom: 2px;
}

#user_auth_btn:hover {
  cursor: pointer;
  border-bottom: 2px solid #D69523;
}

#user_auth_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#user_auth_modal_content {
  background-color: #fefefe;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 0px solid #888;
  border-radius: 5px;
  width: 70%;
  height: 50%;
  min-width: 700px;
  max-width: 900px;
  min-height: 400px;
  max-height: 500px;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#close_btn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 10px;
}

#close_btn:hover,
#close_btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#login_form, #signup_form {
  width: 50%;
}

#login_form input[type=text], #signup_form input[type=text]{
  width: 90%;
  max-width: 250px;
  padding: 10px 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#login_form input[type=password], #signup_form input[type=password]{
  font-size: 12pt;
  width: 90%;
  max-width: 250px;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#login_form input[type=submit], #signup_form input[type=submit]{
  font-size: 12pt;
  max-width: 90px;
  min-width: 90px;
  text-align: center;
  background-color: #D69523;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#login_form input[type=submit]:hover, #signup_form input[type=submit]:hover {
  background-color: #cc8a00;
}

#or_bar {
  font-size: 24px;
}